body {
    display: flex;
    justify-content: center;
    align-items: center;
    min-height: 100vh;
    background-color: #f4f4f4;
    margin: 0;
}

.cv-container {
    display: flex;
    width: 800px;
    height: 1100px; 
    background: white;
    padding: 20px;
    border: 5px solid white; 
    box-shadow: 10px 10px 20px rgba(0, 0, 0, 0.2); 
    
   
}
.sidebar {
    position: relative;
    top: 0;
    left: 0;
    width: 300px;
    height: 100%; 
    background-color: rgb(51, 167, 181); 
    color: white;
    padding: 20px;
    box-sizing: border-box;
    border-bottom: 3px solid white;
}




.main-content {
    text-align: left;
    padding-left: 50px; 
}
hr{
  border: none;
  height:2px;
  background-color: rgb(7, 7, 7);
  margin: 20px 0;
}
.titre{
  color: black;
}

li {
    font-size: 18px; 
    margin-bottom: 5px;
}
.titre-ligne {
    font-size: 40px;
    font-weight: bold;
    color: black;
    margin: 30px 0; 
     text-decoration: underline;
}


img{
    border-radius :80px;
    
}
.section-with-line {
    position: relative;
    padding-left: 20px;
}

.section-with-line::before {
    content: '';
    position: absolute;
    left: 0;
    top: 0;
    bottom: 0;
    width: 2px;
    background-color: rgb(51, 167, 181); 
}
.section-with-line::after {
    content: '★'; 
    position: absolute;
    left: -10px;
    top: -1px; 
    font-size: 20px; 
    color: rgb(51, 167, 181); 
    background-color: white; 
   
}